<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ashish</title>
    <link
      rel="shortcut icon"
      href="/images/logo.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <aside class="sidebar" data-sidebar>
        <div class="sidebar-info">
          <figure class="avatar-box">
            <img src="/images/as.jpg" alt="Ashish Bhargav" width="80" />
          </figure>

          <div class="info-content">
            <h1 class="name" title="Ashish Bhargav">Ashish Bhargav</h1>

            <p class="title">Web developer</p>
          </div>

          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>

            <ion-icon name="chevron-down"></ion-icon>
          </button>
        </div>

        <div class="sidebar-info_more">
          <div class="separator"></div>

          <ul class="contacts-list">
            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Email</p>

                <a
                  href="mailto:ashishbhargav11072003@gmail.com"
                  class="contact-link"
                  >ashishbhargav11072003@gmail.com</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Phone</p>

                <a href="tel:+918949859527" class="contact-link"
                  >+91-8949859527</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Birthday</p>

                <time datetime="1982-06-23">July 11, 2004</time>
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Location</p>

                <address>Alwar, Rajasthan, India</address>
              </div>
            </li>
          </ul>

          <div class="separator"></div>

          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.linkedin.com/in/ashishbhargav2003" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>              
              </a>
            </li>

            <li class="social-item">
              <a href="https://twitter.com/ashishbhargav03" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="social-item">
              <a href="https://www.instagram.com/_ashish_bhargav_/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="main-content">
        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <button class="navbar-link active" data-nav-link>About</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Resume</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Projects</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Contact</button>
            </li>
          </ul>
        </nav>
        <article class="about active" data-page="about">
          <header>
            <h2 class="h2 article-title">About me</h2>
          </header>

          <section class="about-text">
            <p>
              I'm a Full Stack Web Developer. I'm pursuing my graduation from
              MITRC in Computer Science and Engineering.
            </p>

            <p>
              In my experience as a full-stack web developer, I have
              successfully developed and deployed end-to-end web applications,
              handling both front-end and back-end development. I have utilized
              technologies like HTML, CSS, JavaScript, and frameworks such as
              React and Node.js. My proficiency in database management, and
              server-side programming has allowed me to deliver scalable and
              robust web solutions.
            </p>
          </section>
          <section class="service">
            <h3 class="h3 service-title">What i'm doing</h3>

            <ul class="service-list">
              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="/images/icon-dev.svg"
                    alt="Web development icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web development</h4>

                  <p class="service-item-text">
                    High-quality development of sites at the professional level.
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="/images/icon-design.svg
                "
                    alt="design icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web design</h4>

                  <p class="service-item-text">
                    The most modern and high-quality design made at a
                    professional level.
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="/images/icon-app.svg"
                    alt="mobile app icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web apps</h4>

                  <p class="service-item-text">
                    Professional development of web applications.
                  </p>
                </div>
              </li>
            </ul>
          </section>

          <div class="modal-container" data-modal-container>
            <div class="overlay" data-overlay></div>

            <section class="testimonials-modal">
              <button class="modal-close-btn" data-modal-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </section>
          </div>
        </article>
        <article class="resume" data-page="resume">
          <header>
            <h2 class="h2 article-title">Resume</h2>
          </header>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Education</h3>
            </div>

            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  Modern Institute of Technology & Research Center
                </h4>

                <span>2020 — 2024</span>

                <p class="timeline-text">
                  • I'm pursuing B.Tech from MITRC in Computer Science &
                  Engineering (CSE).
                </p>
              </li>

              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  Gurukul Public Sr. Sec. School
                </h4>

                <span>2019 — 2020</span>

                <p class="timeline-text">• High School</p>

                <p class="timeline-text">• Passed With Distinction</p>
              </li>

              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  High school of art and design
                </h4>

                <span>2017 — 2018</span>

                <p class="timeline-text">• Secondary School</p>
              </li>
            </ol>
          </section>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Experience</h3>
            </div>

            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">ScaleEdge Solutions</h4>

                <span>June 2023 — Present</span>

                <p class="timeline-text">
                  • During my internship at ScaleEdge Solutions as a web
                  developer, I have gained valuable hands-on experience in
                  developing and maintaining web applications.
                </p>
                <p class="timeline-text">
                  • I have worked collaboratively with a team, utilizing my
                  skills in HTML, CSS, JavaScript,ReactJs, NodeJs, MySql to
                  create responsive and user-friendly websites.
                </p>
                <p class="timeline-text">
                  • This internship has enhanced my problem-solving abilities
                  and provided practicalinsights into the web development
                  industry.
                </p>
              </li>

              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Smart India Hackathon</h4>

                <span>April 2022 - August 2022</span>

                <p class="timeline-text">• Winner in Smart India Hackathon.</p>

                <p class="timeline-text">
                  • Contributed in web development projects on different
                  sections.
                </p>

                <p class="timeline-text">
                  • Used HTML,CSS, Bootstrap, JavaScript in contribution.
                </p>
                <p class="timeline-text">
                  • Developed a statistical model for objective determination of
                  outdoor advertising rates.
                </p>
                <p class="timeline-text">
                  • Used React Js, Machine Learning, Firebase, , Node Js.
                </p>
              </li>

              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Web devoloper</h4>

                <span>2022 - Present</span>

                <p class="timeline-text">
                  • In my experience as a full-stack web developer, I have
                  successfully developed and deployed end-to-end web
                  applications, handling both front-end and back-end
                  development.
                </p>
                <p class="timeline-text">
                  • I have utilized technologies like HTML, CSS, JavaScript, and
                  frameworks such as React and Node.js.
                </p>
                <p class="timeline-text">
                  • My proficiency in database management, and server-side
                  programming has allowed me to deliver scalable and robust web
                  solutions.
                </p>
              </li>
            </ol>
          </section>

          <section class="skill">
            <h3 class="h3 skills-title">My skills</h3>

            <ul class="skills-list content-card">
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">HTML , CSS , JavaScript</h5>
                  <data value="80">80%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 80%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">ReactJs</h5>
                  <data value="70">70%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 70%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">NodeJs</h5>
                  <data value="70">70%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 70%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Database</h5>
                  <data value="60">60%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 60%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Python</h5>
                  <data value="40">40%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 40%"></div>
                </div>
              </li>
            </ul>
          </section>
        </article>
        <article class="Projects" data-page="projects">
          <header>
            <h2 class="h2 article-title">Projects</h2>
          </header>

          <section class="projects">
            <div class="filter-select-box">
              <button class="filter-select" data-select>
                Web Development
              </button>
            </div>

            <ul class="project-list">
              <li
                class="project-item active"
                data-filter-item
                data-category="web development"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/book.png"
                      alt="book"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">
                    Books and Movie Recommendation WebSite
                  </h3>

                  <p class="project-category">Web development</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="web development"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/Ecommerce.png"
                      alt="shopping"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">E-Commerce</h3>

                  <p class="project-category">Web application</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="web design"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/Mern.png"
                      alt="mern"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">MERN Stack</h3>

                  <p class="project-category">Web application</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="applications"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/Education.png"
                      alt="education"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Education Website</h3>

                  <p class="project-category">Web development</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="web design"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/crud.png"
                      alt="crud"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Crud App</h3>

                  <p class="project-category">Web development</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="web development"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/admin.png"
                      alt="Dashboard"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Responsive Admin Dashboard</h3>

                  <p class="project-category">Web development</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="web design"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="/images/face.gif"
                      alt="face"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Face Recognition</h3>

                  <p class="project-category">Web development</p>
                </a>
              </li>
            </ul>
          </section>
        </article>
        <article class="contact" data-page="contact">
          <header>
            <h2 class="h2 article-title">Contact</h2>
          </header>

          <section class="mapbox" data-mapbox>
            <figure>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113192.13731442878!2d76.56397413093607!3d27.554617448546455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3972998fa7e65df3%3A0x38cebba39ee426f2!2sAlwar%2C%20Rajasthan!5e0!3m2!1sen!2sin!4v1687716835275!5m2!1sen!2sin"
                width="400"
                height="300"
                loading="lazy"
              ></iframe>
            </figure>
          </section>

          <section class="contact-form">
            <h3 class="h3 form-title">Contact Form</h3>
          
            <form id="contact-form" action="/submit" method="POST" class="form" data-form>
              <div class="input-wrapper">
                <input
                  type="text"
                  name="name"
                  class="form-input"
                  placeholder="Full name"
                  required
                  data-form-input
                />
          
                <input
                  type="email"
                  name="email"
                  class="form-input"
                  placeholder="Email address"
                  required
                  data-form-input
                />
              </div>
          
              <textarea
                name="message"
                class="form-input"
                placeholder="Your Message"
                required
                data-form-input
              ></textarea>
          
              <button id="submit-btn" class="form-btn" type="submit" disabled data-form-btn>
                <ion-icon name="paper-plane"></ion-icon>
                <span>Send Message</span>
              </button>
            </form>
          </section>
          
        </article>
      </div>
    </main>
    <script src="/js/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>



